/*Remove default spacing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*style the whole page */
body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #1f2937;
}